<p>
   <h1>!!!</h1>
  <ul>
    M208 exam prep: 2 months, 2 weeks for exam on June 4, 2025. TMA 06 is due April 07 and covers book F. TMA 07 is review and can be requested for review early if submitted early. There are 3 practice exams available, and those alongside TMA07 will be the backbone of my success. Cycle through the exam questions by section – e.g. I can finish Group Theory 1 and see if that material is covered anywhere in the exam, and do the questions then.
   <hr/>
    <li>zepbound @ 25/mo; WW @ 45/mo</li>
    <li>invisalign @ 187/mo</li>
    <li>TRT nation check it out but, say around $108/mo</li>
    = 360/mo, or ~4k/yr
  </ul>
  <div>
    The look so far:
    <p>Dude driving a car with a motorcycle strapped to the back, wearing a backpack with a laptop, another laptop in lockbox; car has 2 lockboxes in the backseat, one of which holds 2 depth cameras. He could easily pull out an ultra-short-throw projector, but does most of his work on his laptop. When necessary, he connects that to a power station and external monitor, and backs his work up in an HDD (also found on his person), and his online portfolio. He records his thoughts in a readily accessible sketch/notebook or an AI-interpreted voice recorder. Paperwork copied to lockbox, backup also in motorcycle seat/external pocket folded and tucked into pants</p>
  </div>
  <ul>
    <li>paperwork:
      <ul>
        <li>birth certificate</li>
        <li>passport</li>
        <li>driver's license</li>
        <li>bank statements</li>
        <li>credit score/history</li>
        <li>pay stubs</li>
        <li></li>
      </ul>
    </li>
    <li>1-2 laptops, at least one of which can run VFX/CAM</li>
    <li>some sketchbooks/paper</li>
    <li>notebooks for math exercise</li>
    <li>books (in box, write them down)</li>
    <li>internet connection to access dropbox, cloud services, email, portfolio</li>
    <li> also to access stackexchange, other communities to keep learning</li>
    <li>website/portfolio</li>
    <li>backup HDD's</li>
    <li>phone/backup phone</li>
    <li>car+motorcycle</li>
    <li>2 lockboxes, w/ at least 1 being highly durable, flame-resistant</li>
    <li>portable charger</li>
    <li>internet/phone service (Google?)</li>
    <li>Maya indie, or pirate (!!! use student disc here soon for Mentor)</li>
    <li>Unreal engine</li>
    <li>Blender</li>
    <li>spare glasses</li>
  </ul>
nice-to-haves:
  <ul>
    <li>Adams MSC (have)</li>
    <li></li>
    <li>projector/s</li>
    <li>monitor</li>
    <li>femto bolt/s</li>
    <li>3d printer</li>
    <li>voice recorder</li>
    <li>camera</li>
  </ul>

  subscriptions:
  <ul>
    <li></li>
  </ul>
  
  heavier gear to be left at home or transported by some other means:
  <ul>
    <li>[in the future] Bridgeport to be converted to CNC; I dropped a machining course b/c i needed room to reclaim my soul (deciding on animation/rigging), so that was *almost* a waste of 4 grand, but i intend to become very skilled at machining regardless (~$2k for mill?)</li>
    <li>woodworking stuff – to be used as practice for homeownership</li> 
    <li></li>
  </ul>

  under review:
  <ul>
    <li>ecoflow, other power stations</li>
    <li>hearing aids</li>
    <li></li>
  </ul>

  pantry:
  <ul>
    <li></li>
  </ul>
</p>
