<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} /> 
    <title>Blog Principles</title>
  </head>
  <body>
    <h1>Mechanical Operator at the Dynamic Theater </h1>
    <h4>Baamin/Baimin: baroque, Li Bai, ming, middleman. Double "a" matches my birthname; Vetelles: convexum, vestibulum, sa<i>telles</i> (guard, attendant). May be rhymed with my birthname.</h4>
<h4>Flame in the cradle, bowstring taut, spring; moon in the mirror, siren's vanity, swim; man in his finitude, heat rising, plunge, plunge, as night's mirror absorbs white, your plunge absorbs you; fall, and sleep in shimmering, milky sheets you – another day.</h4>
    <h2>Central configurations. Geometric group theory, mechanics, convex analysis, operator algebras.</h2>

    <p>II. Trop., an entrance, opening, beginning: vestibula nimirum honesta aditusque ad causam faciet illustres (<i>
An honorable vestibule, and an approach to the cause, will surely make the illustrious,</i>), Cic. Or. 15, 50: vestibulum modo artis alicujus ingredi (<i>to enter the vestibule in the manner of any art</i>), Quint. 1, 5, 7; cf. id. 8, praef. § 18; 9, 4, 10. (<a href="https://alatius.com/ls/index.php?l=vestibulum">https://alatius.com/ls/index.php?l=vestibulum)</a>)
      
    <br/><br/>

    Balance [metaphorically and vestibularly] within; production and operations [of worldly vestibules] without; to be one for Aiode and Melete.

    </p>

    <p>Mechanical problems e.g. prosthetics, satellites; dynamical e.g. social sciences, operations; <i>dance</i>.</p>

    <h3>Tools (in development)</h3>
    <ul>
      <li>Creative field experiment design</li>
      <ul>
        <li>Duality + symmetries</li>
        <li>Topology + knots</li>
        <li>Mechanics</li>
      </ul>
      <li>Sensible thinking (design, forecasts, optimizing, algorithmic (Keenan, maybe Udi))</li>
      <li>Spatial reasoning, improvisational skills</li>
      <li>Operations</li>
      <li>Lots of stuff</li>
    </ul>

    Analysis + LA -> Naive Lie theory -> Group theory
Visuals: <br/>
    Sasho (topology), Carter (group theory), Needham (complex analysis, differential geometry), Keenan (differential geometry, MCMC), !!! Multivariate statistics, !!! convex optimization, 
    <br/><br/>

    <img src="" width="60%">
    <br/>
   
    <div style="text-align:end">
      <a href="/whitepaper">whitepaper</a>
      <br />
      <a href="/poetry">Poetry</a>
      <br />
      <a href="/program_design">Program design</a>
      <br />
    </div>
  </body>
</html>
