<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog Principles</title>
  </head>
  <body>
    <h1>Principles Guiding this Blog</h1>

    <p>
      This blog is dedicated to mathematical thinking and modeling, with an
      emphasis on geometric analysis. On a more meta level, I'll be using the
      shape of the blog to explore form (lettering, grids) and poetry (mouth
      sounds, heart skips), just for funsies.
    </p>

    <h2>Tools</h2>
    <ul>
      <li></li>
    </ul>
  </body>
</html>
