---

---

<html>
  <head></head>

  <body>

    <h1>Inventory (portability)</h1>
    
    <ul>
      <li>Laptop</li>
      <li>Backup HDD + the 1TB storage</li>
      <li>Internet connection</li>
      <li>Flexbox index cards/notes (<b>Back these up</b>)</li>
      <li>Keyboard (or Syntorial)</li>
      <li>Backup phone (2 for OpenCap)</li>
      <li>Meditation cushions</li>
      <li>Paper plates and masking tape</li>
      <li>3D printer</li>
      <li>Monster clay</li>
      <li>Sketchpad, pen and pencils</li>
      <li>Voice recorder</li>
      <li>Playing cards</li>
      <li>Contact staff (screw theory, nonholonomics)</li>
    </ul>

    Everything else, including the inkjet printer, projector, projector screen, soundbar, desktop, are nice-to-have's.
    <ul>
      <h2>Books</h2>

      <li>Visual math books</li>
      <li>Geomech and celestial books</li>
      <li>Problem solving books</li>
      <li>Sensory and cultural books</li>
      <li>Poetry</li>
    </ul>

  </body>
</html>
