<div>

<h1>The Living Poetry Project</h1>

<p>Mocap and living environments in Blender, OnShape for rigs in motion, Zbrush for portraits and "lore dives"! Choreograph central configurations, group theoretic dances, trade routes and just, cool world building in general. Make poems come alive, like the first one in the green form book.</p>

</div>
