---

---

<html lang="en">
  <body>
    <head>

    </head>
    
    <div>

    <h1>The Living Poetry Project</h1>

    <p>Mocap, gesture, waves, triangles</p>


    <p><i>What is it about intervals such as an octave and a perfect fifth that
    makes them more consonant than other intervals? Is this cultural, or inherent
    in the nature of things? Does it have to be this way, or is it imaginable that we
    could find a perfect octave dissonant and an octave plus a little bit consonant?</i></p>
    ~ Music, a mathematical offering, Benson
    </div>

    <p>I'll ask similar questions about poetry and sound, movement and gesture.</p>

    <audio src="https://file-examples.com/storage/feb05093336710053a32bc1/2017/11/file_example_MP3_700KB.mp3" controls>aAAAA</audio>

    <h3>Impression DB</h3>
    <table>
      <tr>
        <th>Description</th>
        <th>Sense</th>
        <th>Emotion</th>
        <th>Analogues</th>
      </tr>

      <tr>
        <td>Major scale (3 half tones, 2 half tones)</td>
        <td>Hearing</td>
        <td>Happy</td>
        <td>A sharp intake of breath; the rising tone that marks a question</td>
      </tr>

      <tr>
        <td>Heroic head-count</td>
      </tr>

      <tr>
        <td>Poetic pentameter</td>
      </tr>

      <tr>
        <td>Tonal vs harmonic</td>
      </tr>

      <tr>
        <td>Cat song</td>
      </tr>
      
      <tr>
        <td>Kiki and bouba</td>
      </tr>

      <tr>
        <td>Orange and cyan</td>
      </tr>

      <tr>
        <td>Heart soaring</td>
      </tr>
    </table>

    <div>
      <p>A plant can be happy, if we remember that language is an interface. A burst of light doesn't burst to every living thing. A wave of sound is only described as such by wave-seers -- and describers. When we reduce all such mechanisms to signals and survival, we shoot ourselves in the distalmost, weight-bearing, locomotion-enabling sections of our musculoskeletal systems. Such deconstruction is critical for teasing out mechanisms, sure, provided that we don't lose meaning in the reconstruction. This is all leaving aside the heuristics that layer our conception of what it means to be individual.</p>

      <p>But whatever. Let's forget for a moment that language is a lubricant. Let's also forget the inextricability of thing and place. We're left, then, with signals and receivers. Sensory variety runs a very quirky and bendy gamut. How do we mix and match signals that the receivers receive? If we reduce senses to primitives, beyond "light," even, down to the photon, or beyond vibration, even, accommodating those who aren't given to recognizing temporal patterns, how then can we combine these primitives, like a painter does paints? Is it possible to cancel out or arrange primitives, patterning new processes in the process?</p>
      
    </div>

    <script>
      window.AudioContext = window.AudioContext;
      const audioContext = new AudioContext();
    </script>

  </body>
</html>
