<p>
  One day, I'd like to work with computer architectures and languages that let
  society run performant and accessible cultural-psychological simulations (I
  want to make New Ancient Cities). Given the death of Moore's law, it seems
  like a useful route for an inevitable problem that would benefit from my
  unique take on things.
</p>
