<html>
  <head></head>

  <body>
    <p>
      Sensory choreography + mathematical metaphor database. Mathematical transformations and metaphors. I'm creating a playground that allows me to experiment with abstract mathematical ideas, especially via transformations using symmetries, FFT, and representation theory/operator algebras.
    </p>


    <p style="display:inline-block; background-color:red">Block 1</p>
    
    <p style="display:inline-block;background-color:gray">Block 2</p>

    <ul style="list-style-type:square">
      <li>A!B@3$%%%%</li>
            <li>A!B@3$%%%%!B@3$%%!B@3$%%</li>
            <ul>
              <li>KSDJFHSKDFJHSD</li>
              <li>123</li>
            </ul>
         <li>A!B@3$%%%!B@3$%%!B@3$%%!B@3$%%!B@3$%%!B@3$%%%</li>
           <li>A!B@3$%%!B@3$%%%%</li>
    <li>A!B@%%%</li>
           <li>A!!B@3$%%!B@3$%%!B@3$%%!B@3$%%!B@3$%%!B@3$%%!B@3$%%B@3$%%%%</li>
           <li>A!B@3$%%!B@3$%%!B@3$%%!B@3$%%%%</li>
       <li>A!B@3$!B@3$%%!B@3$%%!B@3$%%%%%%</li>
       <ul>
        <li>SJFHKASJHF@9</li>
        <li>jdsfhb3jhrbjh</li>
       </ul>
       <li>A!B@3$%%%%</li>
   <li>A!B@3!B@3$%%$%%%%</li>
      <li>A!B@3$%%%%</li>
     <li>A!B@3$%%%%</li>
    <li>A!B@3$%%%%</li>
      <li>A!B@3!B@3$%%!B@3$%%!B@3$%%$%%%%</li>
     <li>A!B@3$%%%%</li>
  <li>A!B@3!B@3$%%$%%%%</li>
       <li>A!B@3$%%%%</li>


    </ul>
  </body>
</html>
