<html>
  <head></head>

  <body>
    <h1>Invariant/collapsibles: 6h math, 30m exercise, 20m meditation.</h1>

    <h2>Stages: pre-grad, bridge, pre-job</h2>

    <div style="font-size:2em; color:forestgreen">
      <b>(!!!) Pre-grad stage:</b><br />
      Geometric group theory (Analysis, LinAlg, Group theory, topology).

      <p>
        <i>Pre-grad stage conditions:</i> gathering kinematic and athletic data,
        dancing, drawing (form on paper, graphics in webGPU), gaming.
      </p>
    </div>

    <hr />
    <div>
      <b>Bridge:</b><br />
      Geometric mechanics, probability theory
    </div>

    <hr />
    <div>
      <b>Pre-job stage:</b>
      <br />
      convex analysis, operations, statistics
    </div>
  </body>
</html>
