<div>
  <h1>Executive</h1>

  <h1>Invariant/collapsibles: 6h math, 30m exercise, 20m meditation. <br/><br/>Supplementary stuff done either in-between macro blocks or at end-of-day</h1>
  <h2>Gantt chart</h2>

  <div>
    <h1>Logged ~20<sup>*</sup> :: Current daily max: 3</h1>

    <img height="400" src="https://res.cloudinary.com/dbky69b70/image/upload/v1732131174/Screenshot_2024-11-20_at_2.31.41_PM_y1u0p1.png">

    <h2>Feedback: As of 11/20, measuring adherence to written time blocks and schedule, particularly at beginning of day (BoD).</h2>
  

    <h2>Posts</h2>

    <i>11/2:</i> <a href="/progress/pilot">Pilot</a>; 25 minutes
    <br/>
    <i>11/3:</i> <a href="/progress/day_2">Day 2</a>; 60 minutes (1 hour)
    <br/>
    <i>11/4:</i> <a href="/progress/day_3">Day 3</a>; 180 minutes (3 hours)
    <br/>
    <i>11/5:</i> <a href="/progress/day_4">Day 4</a>; 30 minutes
    <br/>
    <i>11/6 - 11/13:</i> <a href="/progress/days_5_thru_12">Days 5 through 12, and The Bigly Obvious Realization</a>; average: ~115 minutes/day. <b>NOTE: I fasted AND did my morning routine <a href="http://embodyproblem.com/Baamin/20241107">November 7th!</a></b>
    <br/>
    <i>11/14: </i><a href="/progress/day_13">Day 13</a>; 30 minutes

    <br/>
    11/15: !!!
    <br/>
    11/16: !!!
    <br/>
    <i>11/17: </i><a href="/progress/day_16">Day 16</a>; 90 minutes
    <br/>
    <i>11/20: </i> Start target: 3 PM. Unmet. Reason: Prioritizing exercise (~40m cardio), meditation (next is SeeIn--HearIn--FeelIn), and how I'll meet deadlines. Then, letting myself be distracted by family for unjustifiable reasons as the day neared 7 PM. Learned about, and recognized, The Opener (real name pending). <a href="http://embodyproblem.com/Baamin/20241120">Card</a>
    <br/>
    <hr/>
    <i>11/26: </i> A week later. While it may look as if I haven't made much progress, I've made great mental strides. My self-confidence has grown since I began to view it as both skill and habit. It can be grown in the areas that matter to me most, such as in navigating uncertainty, noting my victories, holding myself accountable, treating myself with self-compassion, and using my words and thoughts to frame my mind-body. These are all aided by my ever-growing emotional intelligence and emphasis on physical health.

    <br/><br/>
    Concrete victories include completing my second week of >=150m & 5/7 days cardio, successfully sitting down on time as scheduled yesterday (10 AM), listing 10 successes off of which I can build my academic and mathematical confidence, and somewhat straightening out my sleeping schedule.
    <hr/>
  </div>
<hr/>
  <sup>*</sup> the \A app is accurate, but missing around 1.5h of work as the study blocks were improperly labeled (also why one of two major technical reasons the app is just for my use lmao. Two users with identically written goals will confound their analytics tab. That's why I'm using "Real analysis" on Baamin, instead of "Analysis", which is spoken for on some account, somewhere)
</div>
