<div>
  <h1>Executive</h1>

  <h2>Gantt chart</h2>

  <p>
    Have I caught up to this week's material? If so, go ahead and read outside
    sources.
  </p>

  <p>
    [When I have all day to study]: Have I studied 6-8 hours (42-56h/week)? If
    so, feel free to draw, compose, write, what have you.
  </p>

  <p>
    [When I don't have all day to study, work a dayjob]: The above, but 3-4
    hours (21-28h/week).
  </p>
  <div></div>
</div>
