<p>
  Principle of [In]sufficient Reason:

  <ul>
    <li>The obscurity of what forces formed the final vector.</li>
    <li>Accepting that I may never know what all led to here</li>
    <li>&nbsp &nbsp but deciding that I know enough.</li>

    <br/>

    <li>Montaigne's "this is all we have, and that's fine" mentality and Peter Dinklage's commencement address ("have already happened" line)</li>
  </ul>
</p>
<ul>
    <li>A
    <ul>
      <li>Archery (to draw, hone, be the pen stroke on paper - no more, no less)</li>
      <li>Awe</li>
      <li>Adventure (and its key traits: found above and below)</li>
      <li>Awareness</li>
      <li>Appreciation</li>
      <li>Acceleration</li>
      <li>Aggressiveness</li>
    </ul>
  </li>
  
    <li>B
    <ul>
      <li>Bravery</li>
      <li>Bugs and birdsong (hear them, as I hear my wants and fears, without a stymie in my step)</li>
      <li>Baroque musicians, unbothered by societally imposed myths of musicianship</li>
    </ul>
  </li>
    <li>C
    <ul>
      <li>Compassion</li>
      <li>Concentration, as with the candle flame</li>
      <li>Can't fail, can succeed</li>
      <li>Courage</li>
      <li>Confidence</li>
      <li>Childlike wonder</li>
      <li>Competitiveness</li>
    </ul>
  </li>

    <li>D
    <ul>
      <li>Dignity</li>
      <li>Disdain, including for doubt</li>
    </ul>
  </li>

  <li>E
    <ul>
      <li>Even though -- self-esteem; setbacks; nevertheless.</li>
      <li>Engage. I choose to engage.</li>
      <li>"Enclaves of order against entropy"</li>
      <li>Enthusiasm</li>
      <li>Efficacy</li>
    </ul>
  </li>

    <li>F
    <ul>
      <li>Fear as opportunity</li>
    </ul>
  </li>

    <li>G
    <ul>
      <li>Granular, not general (in terms of process, feedback)</li>
      <li>Gratitude</li>
    </ul>
  </li>

    <li>H
    <ul>
      <li>Heat</li>
      <li>Hopefulness</li>
    </ul>
  </li>

    <li>I
    <ul>
      <li>Industry</li>
      <li>Internal locus of control</li>
    </ul>
  </li>
</ul>

<hr />
<div>
<h2>Stage 1:</h2>

<h3>Dance, real analysis to convex analysis, the polyhedra, inversions, and gesture.</h3>

<ol>
  <li>M125 + M224 review couched in M208</li>
  <li>Terence Tao and Visual group theory</li>
  <li>Probability and statistics</li>
</ol>

<h3>Living Poetry:</h3>
Dance, poetry (incl. language), math. I know enough to start drawing. webGPU, renders. CAD is for nonholonomic and polyhedral stuff. Visualize the polyhedra in convex analysis and group theory, visual human gesture and planetary choreography. Illustrate the beautiful Chinese and Urdu poetry I have to look forward to. Dance, poetry, math. Teach the math with my literary acumen. Illustrate it with the webGPU etc stuff. It's this simple. Convex analysis, nonintegrable systems, the weirdness of noncommutativity are reminders of the uncertainty I welcome -- the positivity against entropy, the journey over Crossed Wires.
<hr />

The OU material provides everything I need. There's no magic solution. Put in
the work (and write about it).
</div>

<div>

</div>


<div>
  I want to do more than see through your eyes. I want to make a wrong turn in
  them, so that I could stay left in them, if that's a right by you.
</div><div><br /></div>

Themes around which my values and interests circle:

<ul>
  <li>Industry and effective operations</li>
  <li>Constructing (conjuring) devisements and strategies under uncertainty</li>
  <li>Impressions and perceptions</li>
  <li>Spatial and mechanical thinking</li>
  <li>Clear thinking; effective exposition and argumentation</li><li>
    Learning from the masters; delighting in the historical song and dance of
    mathematical and scientific ideas
  </li>
  <li>Humanity's throughlines and timeless edifices</li>
  <li>Beautiful design, inspired problem solving</li>
  <li>"Thing"-ness, discrete invention and innovation</li>
  <li>
    Phenomenology and ontology, subjective experiences as primes, nostalgia,
    sensory limits, augmenting perception
  </li>
  <li>
    Identifying, contextualizing, and leveraging “idea landscapes" like Koutsaal
    mentions and the Flip Ship demonstrates; experimenting with institutional
    organization and incentives
  </li>
  <li>
    Micro-material design principles that can also be applied in macro
    situations (operations, optimization, origami, honeycombs)
  </li>
  <li>
    The heart-to-bursting, all-enveloping joy that community and collaboration
    bring
  </li>
</ul>

<p>
  Geometer and and people person. Love the cultural psychological and
  operational. Projects light onto woodcarvings for fun.<sup>[1]</sup>
</p>

<p>
  I'm studying math and policy design. My math study is supes spatial. I
  experiment with media aplenty, using whatever I happen to snag from an
  ever-growing grab-bag of tools. Play is a constant.
  Emotional, social, and metacognitive skills deserve their own writeup. When
  I'm scared, I love myself.<br /><br />My journey to now has endowed me with a
  willingness to mine the essential and recycle the remains. I'm fascinated by the limitations of human perception, beginning with the physical but extending to notions such as "context," "meaning," and "beauty."<sup>[2]</sup>.
  &nbsp;I'm playing with math for the time being. Perhaps it will prove useful in exploring the vestibular system and exploitating its geometries for the good of others. In the abstract, I'm really into geometric group theory; after all, group theory is the study of symmetries, and geometric interpretations build intuition for our physical world. Doing so creates a bridge to central configurations and n-body problems, to choreographies (of bodies both human and celestial). Both vestibular and satellite dynamics can be captured in geometric nonholonomic mechanics -- also useful for describing rigid rolling bodies. Extending notions of duality and convex theory, I'm fascinated by operations and strategy under uncertainty. These will serve the theater on a few fronts. Stage dynamics, human physiology and proprioception, and operations (for when I work in production design, too).
  <br/><br/>
  
  The vestibular system is a crossroads of the senses. Beyond the self-adjusting equilibrioception that consolidates auditory and visual inputs -- then these with bodily awareness (proprioception) -- it turns out the vestibular system may be intimately related with our perception of time. One can imagine the cascade of functional effects or pathologies that might follow; I would imagine their scope is far greater than just vertigo. It's a wonderful opportunity space to tackle geometric, continuous, mechanical, and statistical problems. It also gives me an excuse to learn about the perceptions of creatures with whom we share this world. I'm likely to cap my formal education with a research master's degree. One day I'll start a production design company. Weekends and vacations are for motorcycles and travel.
</p><p>
  I believe the social fabric of a locale should be better considered and
  delineated than it has been. I also believe that there’s a solution space far
  more sensually, psychologically, and aesthetically attuned just waiting to be
  plumbed.
</p><p><br /></p><p>
  I develop supplementary skills insofar as they help me to glean the essence of
  things, within or without, and in so doing hackle my adventurous spirit. It's
  all the better if one skill coheres with another, sewing consilience, but that
  would be incidental. I'm already seeing some incipient skills begin to
  intertwine. Who knows what I won't see coming next?

  <br /><br />
  I prize uncertainty, recalibration, and raw, unabashed play. Life exists in the
  motion, the action, the disappearing now.
  <br />
</p>

<p>
  Sometimes I supplement the social studies germane to operations and policy by
  reading up on anthropology (semiotics, sensory ethnography), seeking lost or
  forgotten things to better grok how modern institutions are informed by
  ideology, narrative, and culture. I test my understanding of current events by
  participating in forecasting competitions. My love for diving into dusty
  troves dovetails conveniently with wanting to relay what I learn to the wider
  world. (!!! Reorganize this para / combo with para above about
  underrepresented social parameters)
</p>


<p>
Makerspaces and escape rooms are cool.
</p>

<p>
  Meditation and exercise daily (dumbbell PPL; cardio through dance or VR). Cardio in the morning, lifting in the evening.
</p>

<p>
  3 meals a day, heavily Mediterranean principles (mostly veg; protein mostly
  fish, nuts, or legumes; some [complex] carbs; fruit-based desserts). Minimal
  snacking.
</p>

<p>
  I was sundered across and held in severance, rent in the negative space
  beneath a cloven roof. I will bind the cliffs of that aberrant abyss with a
  resurgent heat. Raze the stifled fields above, relieve the brimstone of its
  lightning, and plunge that fulminance into the horizon. Yield to me the vital
  dawn, the forgiveful dusk.
</p>

<hr />

<hr />

<div>
  Communities:
  <ul>
    <li>University, academic community</li>
    <li>AoPS</li>
    <li>
      Contributing to <a href="https://us.metamath.org/index.html">Metamath</a> (see
      their FAQ)<sup>[4]</sup>
    </li>
    <li>nanoHUB</li><li>Forecasting/good judgment&nbsp;</li>
    <li>Stackexchange and overflow</li>
    <li>Makerspaces</li>
    <li>Meditation retreats</li>
    <li>café mathematics</li>
  </ul>
</div>

<div>
  Tools:
  <ul>
    <li>Paper plates</li>
    <li>Wood</li>
    <li>Pen & pencil</li>
    <li>Modeling clay</li>
    <li>Zbrush</li>
    <li>WebGPU + Three.js</li>
    <li>Blender</li>
    <li>Kinovea</li>
    <li>Onshape</li>
    <li>Camera</li>
    <li>Audio recorder (Plaud)</li>
    <li>Meditation</li>
    <li>Music</li>
    <li>Projector</li>
    <li>iPhone (lidar?)</li>
    <li>Obsidian</li>
    <li>VSCode</li>
    <li>Syntorial (then DAW)</li>
    <li>This blog</li>
  </ul>
</div>

<div>
  Volunteering (prospective):
  <ul>
    <li>
      <a href="https://www.literacynassau.org/new-volunteers">Literacy Nassau</a
      >
    </li>
    <li><a href="https://thesafecenterli.org/support-us/">TSCLI</a></li>
    <li></li>
  </ul>
</div>

<sup>[1] </sup>I once read that ancient Chinese shadow puppetry could enchant
audiences into reverie. What is it, when a work of art speaks so plainly to the
soul that all attempts to explain it feel tepid? Let me apprehend any artistry
turned accessory to promises of an oasatic past. I'll steal into that false
city, seizing not their crowning jewel, but the Gordian angles of its aspect.*<br
/><br />
<sup>[2] </sup>This also hits the sweet spot for the whole wood-materials thing,
and for the projector thing too, since this kind of work overlaps pretty heavily
with work being done in nanophotonics.
<br /><br />
<sup>[3] </sup>I find myself insufferable, and forgive myself for indulging.
<br /><br />
<sup>[4] </sup>Two fun, cross-fertilized approaches to practicing elements of
art of proof are, as mentioned here, contributing to and using Metamath for
proof by substitution, and that algorithm creative approach book for proof by
induction, since both lean heavily into their chosen champions
<div><br /></div><div>
  *(The gordian angle pun is hilarious so I’ve made an executive decision to
  keep the word in there despite its potentially diluting effect, come at me)
</div>
