<body style="max-width:100%">

  Principle of [In]sufficient Reason:

  <div style="line-height:1.6">

    <ul style="list-style-type:none; text-align:center">
      <li>Ignorant of what forces formed the final vector,</li>
      <li>accepting that I may never know what all led to here</li>
      <li>but deciding that I know enough.</li>

      <br/>

      <p>Thracean ink, extant in the motion; goal as both map and medium.</p>
      <p><b>Bolded parts are reminders of what I've learned and earned from being an outsider, freed from external expectations. I've learned to appreciate my strengths, and to draw strength from uncertainty.</b></p>

      <p>See <a href="/inventory">inventory</a> for stuff that really aligns my values</p>
    </ul>
  
  
    <ul>
        <li>A
        <ul>
          <li>Arch (to be the draw itself, drawing in itself, muscles taut, pen flush to paper - no more, no less)</li>
          <li>Awe</li>
          <li>Adventure (and its key traits: found above and below)</li>
          <li>Awareness</li>
          <li>Appreciation</li>
          <li>Acceleration</li>
          <li>Aggressiveness</li>
          <li>Astuteness</li>
        </ul>
      </li>
      
        <li>B
        <ul>
          <li>Bravery</li>
          <li>Bugs and birdsong (hear them, as I hear my wants and fears, without a stymie in my step)</li>
          <li>Baroque musicians, unbothered by societally imposed myths of musicianship</li>
        </ul>
      </li>
        <li>C
        <ul>
          <li>Compassion</li>
          <li>Concentration, as with the candle flame</li>
          <li>Can't fail, will succeed</li>
          <li>Courage</li>
          <li><b>Confidence (Hamming, observed by Hamming, Zhang, Tersoff, )</b></li>
          <li><b>Childlike wonder (Wiles, observed by Rota, Ulam, )</b></li>
          <li>Competence</li>
          <li>Competitiveness</li>
          <li><b>Consilience/generalizability (Grothendieck, )</b></li>
        </ul>
      </li>

        <li>D
        <ul>
          <li>Dignity</li>
          <li><b><i>Disdain (Crick, Grothendieck, Ulam (saying mathematicians take themselves too seriously), Royen)</i></b></li>
        </ul>
      </li>

      <li>E
        <ul>
          <li>Even though -- self-esteem; setbacks; nevertheless.</li>
          <li>Engage. I choose to engage.</li>
          <li>"Enclaves of order against entropy"</li>
          <li><b>Enthusiasm (Shannon, Fisz)</b></li>
          <li>Efficacy</li>
          <li>Energy</li>
          <li><b><i>Exile</i></b></li>
        </ul>
      </li>
    </ul>


      <ul display:inline-block>
          <li>F
          <ul>
            <li><b>Fearlessness (Tersoff, Ulam)</b></li>
            <li>Fact, the counter to fearful "counterfactuals"</li>
            <li>Fairness</li>
            <li><b><i>Freedom</i></b></li>
          </ul>
        </li>

          <li>G
          <ul>
            <li>Granular, not general (in terms of process, feedback) <b>think Napoleon's attention to circumstance, Carmack's focus, and both's emphasis on preparedness and flexibility</b></li>
            <li>Gratitude</li>
            <li>Grind (embrace the--)</li>
          </ul>
        </li>

          <li>H
          <ul>
            <li>Heat</li>
            <li>Hope</li>
            <li><b>Humor ()</b></li>
            <li><b><i>Hatred</b> (for dogma, "advice", and naysayers)</i></li>
          </ul>
        </li>

          <li>I
          <ul>
            <li>Industry</li>
            <li>Internal locus of control</li>
          </ul>
        </li>

        <li>J
          <ul>
            <li>Judicious</li>
            <li>Joyful</li>
          </ul>
        </li>
      </ul>
   
    <hr />


  <p><h2>Playgrounds:</h2>

    Graphics programming (webGPU, discrete diff geo), audio processing (sinusoid functions, convolution, Fourier transforms), clay (fluid mechanics), music theory (geometry), dance and contact (nonholonomic, biomech)
    
    <hr/>

    All of the above unlocked accessed after Analysis+LA
  </p>


</div>
</body>
