---
---

<iframe style="display:inline-block;" height="500" width="400" src="http://embodyproblem.com/Baamin/20241104"></iframe>

<h3>3 hours</h3>

<div style="">Overall, a great, well-balanced day. The first real stretch in getting underway. Lessons learned: start sooner, eat healthier, gain energy. Focus is variable, but that's alright. It'll increase with practice right alongside building healthier habits. I exercised (SupernaturalVR) after work; meditated during my first macro-block break. Checked in with myself and reframed on the fly. Sleeping at a decent time tonight.

  <p>Key takeaway is that of energy. If I was able to focus a decent stretch of time at around noon, then again an hour or so later, during the late afternoon, but my focus was skittery during both sessions, then that gives me hope. After all, it's not that big of a stretch to think I could gain some more focus in the mornings, and extend my evening focus an hour or two. Energy will also snowball when my studies begin to really latch. I am fast approaching great areas of interest, after all. Making these habits will also take the initial load off and free my body to fall into work. And, again, just exercising and eating right will sustain me for a while yet.</p>

  <p>I've found that bringing enthusiasm and a sense of wonder to the process is also really energizing. Drawing a direct connection from where I am to where I want to be, too. Even better compounded with <i>who</i> I want to be.</p>
</div>
