---
---

<iframe height="500" width="400" src="http://embodyproblem.com/Baamin/20241117"></iframe>

<div>
  <h2>Three Good Things (Baamin)</h2>
  Three good things:
1) I hit my first streak on SupernaturalVR! It's set at 5 days of exercise a week. I even exercised extra on some days, upwards of an hour.
because…I increasingly recognize that my performance and stamina benefit greatly from exercise and improved health in general. With exercise, I even started eating less, without making any major changes besides the exercise (and a somewhat regular sleep schedule?)
2) After struggling with not having submitted the first TMA, and a couple of days that were characterized by a slight loss of direction, loneliness, and the self-care that followed, I sat down and knocked out a solid hour and a half-ish of studying Group theory! I reclaimed my focus way sooner than I ever really have, and in a way, feel that it wasn't really even lost; rather, another part of me was a little jarred and needed some time.
because…I gave myself room to feel. In the past, I doubt I'd have recognized the feeling at all, or rather, I'd probably have shunted right past it. This time, I listened to the part of me that was scared that I blew it all; I listened to the parts of me that demand perfection, because how else could I proceed, after so many screw-ups? I listened to them, and understood that often I have been them, filled with the compulsion to compensate, worried that I was deluding myself. But reminding myself of my values – of learning for the sake of understanding, of embracing adventure and uncertainty, etc. AND taking a realistic account of what this school year demands – these things have all made it all quite palatable.
3) While studying, I wrote clarifying questions and points and played around a bit more. I also sketched! Sure, they were simple n-gons, but hey. I also refreshed myself some on music theory and chords. Excited to see what their geometry is like.
because…I want to learn things in such a way that I truly own them. I want to play with different modalities and establish a connection between the senses, creating new senses as I go.
</div>
