---

---

<iframe height="500" width="400" src="http://embodyproblem.com/Baamin/20241105"></iframe>

<p>Rough mental health day, but got it together towards the end. Meditated, did parts work, and even wrote a clean, articulated CBT entry that incorporated some of what I learned during my parts work. That's a first! I also made a point of reinforcing of my self-worth.</p>

<p>Perhaps one lesson is to take care of my mental earlier on in the day, then start work early too. The great news is I totally cleared up the roadmap for where I want to get, at least on the studying side of things. I'll do further research on programs I want to apply to. Riemannian geometry (beginning from low-dimensional differential geometry i.e. theory of surfaces and curves, then moving to smooth manifolds); nonlinear dynamics and geometric mechanics; these are central to my learning path. According to wiki, optimal control is an extension of the calculus of variations -- and is useful for framing operations research problems in terms of dynamics. This is heavily analytic/PDE-leaning. Given these directions, and those of my interests (geometric group theory comes to mind; apparently some really beautiful results re geodesics), real analysis will be supes important. It will also, as in the case of Riemannian geometry, get pretty subtle and unintuitive. That means the axiomatic, foundational approach to learning is the one for me. Hello, Tao. I'll hone geometric intuition first through group theory and topology, then Pugh.</p>
