---
---

<img height="400" src="https://res.cloudinary.com/dbky69b70/image/upload/v1731522454/11-6_11-12_lyvry8.png">

<p>Look at that. Between November 6th and November 12th, excluding the 11th (that I woke up late for, had a bad night'sm sleep during), I averaged around 2 hours of focused study a day.</p>

<p>Compare that to the previous week. I was just getting started. Even 20 minutes was difficult. Now? I take an hour's stretch of focus for granted.</p>

<p>I hadn't realized this, but I'd started pursuing the DEDP cert very soon after I'd gunned for weight loss. When my focus was weight loss and weight loss alone, I succeeded. Since then, I've felt suffocated, and have regained the weight. I've been running on that threadbare treadmill for <i>5 years</i>. Every time I've thought to myself, "I'll have enough time after THIS assignment, THIS test," I have been wrong. Yet I always procrastinated. The last few years drained the joy out of every other aspect of my life. I even <i>awarded</i> myself months at a time of soul-sucking "leisure" between semesters for having gone through so much stress. Those months would see little to no work. That's the trap to watch out for as I continue my journey.</p>

<p>The strength of such a long stretch of suffocation is that it provides a lesson. I am, for better or for worse, internally driven. My energy feels near infinite when my actions are aligned with this inner drive. The further I move from my center, the greater the strain -- and cost of having strayed too far. How do I reconcile this with the school year? The only thing that comes to mind is that I advantage the university as a means of receiving feedback and interacting with other students in order to further the understanding that I desire. In other words, I use the university to learn.</p>

<p>Am I giving myself yet another break? In one sense, yes. The stress of this barrelling deadline is eating at me. It makes me <i>less</i> productive, and I doubt whatever work I'm currently able to submit would course correct me in any meaningful way (first half of Book 1, M208). In another sense, I'm not giving myself a break at all. Rather, I'm focusing on actually learning the material. I simply cannot subscribe to a model that treats what are, in essence, <i>test</i> deadlines as project deadlines. The real measure of my success isn't the grade, but comprehension. <br/><br/>The next TMA will be due on the 5th. That gives me 3 weeks to get'er done. That amount of time for that subject matter seems reasonably aligned with my learning goals. It's best to cut my losses here and get to it.</p>

<div style="background-color:aliceblue; padding-left:1em; padding-right:1em; padding-top:.25em; padding-bottom:.25em">
  <p>Of course, without a plan, that's all talk. So let's sketch a plan. The gist is that I'm going to submit all upcoming TMA's and iCMA's.</p>

  <p>In order for M224's exam to count, I'll need 3x >= 30% iCMA's and 3x >= 30% TMA's. This TMA is gone. The next iCMA is due Jan. 7, and the next TMA is due Jan. 14. It will largely be concerned with Linear Algebra.</p>

  <p>
    As I mentioned earlier, the next M208 TMA is due Dec. 5th. Unit B1 is frontloaded, and the entirety of the TMA seems to concern Group Theory 1, except maybe some of the following Linear Algebra.
  </p>

  <p>
    The takeaway is that I brush up the M224 foundations and move towards Linear Algebra, then going back (or backfilling) the introductory differential equations content in book 1. At the same time, I'll be studying group theory, paying special attention to the proofs so that I begin to develop some mathematical maturity. The concurrent Linear algebra prep in M224 should prime me for the linear algebra content in M208.
  </p>
</div>
